<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cya.dao.GoodsMapper">
    <insert id="addGoods" parameterType="goods">
        insert into lostandfound.goods (goods_Id , pic, descs, times, place, user_Id, release_Time, label, type_Table)
        values (#{goodsId}, #{pic}, #{descs}, #{times}, #{place}, #{userId}, #{releaseTime}, #{label}, #{typeTable})
    </insert>

    <delete id="deleteGoods" parameterType="string">
        delete from lostandfound.goods where goods_Id = #{goodsID}
    </delete>

    <update id="updateGoods" parameterType="goods">
        update lostandfound.goods
        set pic=#{pic}, descs=#{descs}, times=#{times},
            place=#{place},label=#{label},type_Table = #{typeTable}
        where goods_Id = #{goodsId}
    </update>

    <select id="queryTypeGoods" parameterType="string" resultType="goods">
        select * from lostandfound.goods where goods.type_Table = #{typeTable};
    </select>

    <select id="queryAllGoodsByUserId" parameterType="string" resultType="goods">
        select * from lostandfound.goods where user_Id = #{userId};
    </select>

    <select id="queryGoodsByGoodsId" parameterType="string" resultType="goods">
        select * from lostandfound.goods where goods_Id = #{goodsId};
    </select>

    <select id="queryFuzzyGoods" parameterType="string" resultType="goods">
        select * from lostandfound.goods
        <where>
            <if test="">
                and good.type_Table = #{typeTable}
            </if>
            <if test='label != "请选择"'>
                and goods.label = #{label}
            </if>

            <if test='str != "" and str != null'>
                and goods.descs like #{str};
            </if>
        </where>

    </select>

</mapper>