<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cya.dao.GoodsMapper">
    <insert id="addGoods" parameterType="goods">
        insert into lostandfound.goods (goods_Id , pic, descs, times, place, user_Id, release_Time, label, type_Table)
        values (#{goodsId}, #{pic}, #{descs}, #{times}, #{place}, #{userId}, #{releaseTime}, #{label}, #{typeTable})
    </insert>

    <delete id="deleteGoods" parameterType="string">
        delete from lostandfound.goods where goods_Id = #{goodsID}
    </delete>

    <update id="updateGoods" parameterType="goods">
        update lostandfound.goods
        set pic=#{pic}, descs=#{descs}, times=#{times},
            place=#{place},label=#{label},type_Table = #{typeTable}
        where goods_Id = #{goodsId} and user_Id = #{userId}
    </update>

    <select id="queryTypeGoods" parameterType="string" resultType="goods">
        select * from lostandfound.goods where goods.type_Table = #{typeTable};
    </select>

    <select id="queryAllGoodsByUserId" parameterType="string" resultType="goods">
        select * from lostandfound.goods where user_Id = #{userId};
    </select>

    <select id="queryGoodsByGoodsId" parameterType="string" resultType="goods">
        select * from lostandfound.goods where goods_Id = #{goodsId};
    </select>

    <!--有多个参数时无需parameterType,即使是相同类型-->
    <select id="queryFuzzyGoods" resultType="goods">
        select * from lostandfound.goods
        <where>
            and goods.type_Table = #{typeTable}

            <if test='label != "物品类别"'>
                and goods.label = #{label}
            </if>

            <if test='str != "" and str != null'>
                and goods.descs like #{str};
            </if>
        </where>

    </select>
    
    <resultMap id="map" type="goods">
        <result property="pic" column="pic"/>
        <result property="descs" column="descs"/>
        <result property="times" column="time"/>
        <result property="place" column="place"/>
        <result property="label" column="label"/>
        <result property="typeTable" column="type"/>
        <association property="user" javaType="User">
            <result property="user_Name" column="userName"/>
            <result property="telephone" column="tel"/>
        </association>
    </resultMap>
    
    <select id="queryGoodsOfUser" resultMap="map" parameterType="goods">
        select user_Name userName, telephone tel, pic , descs , times time ,place , label, type_Table type
        from lostandfound.goods, lostandfound.user
        where goods_Id = #{goodsId} and goods.user_Id = user.user_Id;
    </select>

</mapper>