form{
    text-align: center;
    margin-left: calc(25vw);
    width: calc(50vw);
    padding: 10px 40px;
    background: rgba(255, 255, 255, 0);
}
div{
    margin:auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.background{
    border: 1px solid #3048fd;
    background-color: rgba(75, 79, 255, 0.21);
    outline: none;
    color: #767676;
    font-size: 20px;
    margin: 10px 0;
}
.input {
    border-radius: calc(3vh);
    width: calc(40vw);
    height: calc(6vh);
}
.detail{
    border-radius: 10px;
    width: calc(40vw);
    height: calc(14vh);
    resize: none;
}

.input:focus,.contact_input:focus,.detail:focus{
    background-color: white;
    color: #111111;
}
/*图片浏览*/
#preview,.img,img {
    border-radius: 10px;
    width: calc(30vw);
    height: calc(30vh);
}
#preview {
    border: 1px solid #3048fd;
    background-color: rgba(75, 79, 255, 0.21);
}
/*按钮设置*/
.button{
    appearance: none;
    background: rgba(64,93,232,0.51);
    color: #ffffff;
    font-size: 20px;
    padding: 0;
    border-radius: 25px;
    box-shadow: inset 0 -4px 0 0 rgba(0,0,0,0.2);
    cursor: pointer;
    border:0;
    margin: 20px auto;
    width: 100px;
    height: 50px;
}
.button:hover{
    box-shadow: inset 0 -4px 0 0 rgba(0,0,0,0.6), 0 0 8px 0 rgba(0,0,0,0.5);
}
.button:active{
    position: relative;
    top: 4px;
    box-shadow: inset 0 3px 5px 0 rgba(0,0,0,0.2);
    outline: 0;
}
.button:focus{
    outline: 0;
}
.file{
    opacity: 0;
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 50px;
}
.file_btn{
    display:inline-block;
    position:absolute;
    z-index: 0
}
