h2{
    font-size: 40px;
    margin-top: 5%;
}
#detail{
    margin-left: 30%;
    width: 800px;
    height: 300px;
}
#centerPicture img{
    float: left;
    width: 200px;
    height: 300px;
    box-shadow:10px 10px 20px rgb(176,217,250);
    display: inline-block;
    overflow: hidden;
}
#detailMessage{
    float: right;
    display: inline-block;
    box-shadow:10px 10px 20px rgb(176,217,250);
    background: rgba(172, 105, 105, 0.4);
    border-radius: 15px;
    width: 500px;
    height: 300px;
    overflow: hidden;
}


