/*搜索栏*/
html{
    z-index: 1;
}
.top{
    float: top;
    text-align: center;
}
#Body{
    margin-left: 13%;
    width: auto;
    float: none;
    background-color: rgba(255, 255, 255, 0);
}
.find{
    position: relative;
    padding: 0;
    margin-left: 200px;
    display: flex;
    justify-content: center;
}
span{
    float: left;
}
.search{
    width: 440px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #a6b3b2;
    border-right: none;
    border-radius: 30px 0 0 30px;
    outline: none;
    font-size: 20px;
}
.search:hover{
    border-color: #787878;

    font-size: 25px;
}
.bt{
    width: 60px;
    height: 62px;
    background-color: #93f1cc;
    border: 1px solid #a6b3b2;
    border-left: none;
    border-radius: 0 30px 30px 0;
    outline: none;
}
/*物品浏览*/
.masonry {
    -moz-column-count: 4; /* 火狐 */
    -webkit-column-count: 4; /* Safari 和 谷歌 */
    column-count: 4;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    width: 80%;
    margin: 1em auto;
}

#pic{
    height: 200px;
    width: 100%;
    border-radius:5px;
    border: 1px solid red;
}

.resume {
    height: 100px;
    font-size: 20px;
    /*background: rgba(46, 245, 225, 0.16);*/
    border: 1px solid rgb(83, 246, 175);
    border-radius: 5px;
}

.item {
    padding: 1em;
    margin-bottom: 1em;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    height: 300px;
    border-radius: 10px;
    border: 2px solid gainsboro;
}

@media screen and (max-width: 800px) {
    .masonry {
        column-count: 2;
    / / two columns on larger phones
    }
}

@media screen and (max-width: 500px) {
    .masonry {
        column-count: 1;
    / / two columns on larger phones
    }
}
/*返回顶端按钮*/
.back_top {
    z-index: 9999;
    position: fixed;
    right: 10px;
    bottom: 0;
}
.back_top_button{
    width: 90px;
    height: 90px;
}