html{
    background: rgba(174,174,174,0.32)
}
/*左侧导航栏*/
#menu{
    width: 10%;
    height: auto;
    float: left;
    clear: both;
    position: fixed;
    background: #eee;
    border-radius: 0 10px 10px 0;
}
#menu ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

#menu ul li {
    float: left;
    width: 100%;
}

#menu ul li a {
    display: block;
    padding: 20px;
    border-left: 5px solid;
    position: relative;
    z-index: 1;
    text-decoration: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.font_style{
    margin: 0 ;
    padding: 0 100% 0 0;
    font-size: 25px;
    width: 49px;
    height: 100%;
    color: #444;
    text-align: center;
}

.font_style:hover {
    border-bottom: 0;
    color: #fff;
}

#menu ul li:first-child a {
    border-left: 10px solid #3498db;
    height: calc(24vh);
}
#menu ul li:nth-child(2) a {
    border-left: 10px solid #ffd071;
    height: calc(24vh);
}
#menu ul li:nth-child(3) a {
    border-left: 10px solid #f0776c;
    height: calc(24vh);
}

#menu ul li:last-child a {
    border-left: 10px solid #64ff86;
    height: calc(24vh);
}

#menu ul li a:after {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
}

#menu ul li a:hover:after {
    width: 90%;
}

#menu ul li:first-child a:after {
    background: #3498db;
    border-radius: 0 10px 0 0;
}

div li:nth-child(2) a:after {
    background: #ffd071;
}

div li:nth-child(3) a:after {
    background: #f0776c;
}

#menu ul li:last-child a:after {
    background: #64ff86;
    border-radius: 0 0 10px 0;
}
