body{
    background-color: #c95656;
}
marquee{
    padding-top: 3%;
}
.leftTitle{
    margin-top: 7%;
    height: 50px;

}
.changeMessage{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 180px;
    height: 40px;
    margin-left: 4%;
    text-align: center;
    display: table;
}
.changeMessage a{
    display: table-cell;
    vertical-align: middle;
}
.changeMessage:hover{
    background-color: #938f8f;
    width:180px;
    color:#333
}
.top_title{
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
}
#big {
    width: 900px;
    padding-left: 300px;
}

#top {
    height: 170px;
    margin-bottom: 2%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);

}

#center {
    height: 510px;
    width: 900px;
    overflow: hidden;
}

#left {
    float: left;
    width: 200px;
    height: 500px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);

}

#right {
    float: right;
    width: 690px;
    height: 500px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
}
ul{
    margin-top: 0px;
    padding: 0px;
}
ul li{
    margin-top: 0.5%;
    text-align: center;
}
.nav-li {
    width:180px;
    font-size:16px;
    border-radius: 10px;
    margin-left: 4%;
    background-color: rgba(255, 238, 200, 0.4);
    line-height:40px;
    text-align:center;
    cursor:pointer;
}
.title {
    width:200px;
    height:40px;
    display: table-cell;
    vertical-align: middle;
}
.nav:hover ul {
    display:block;
    /*当鼠标放到一级级栏目时，显示二级栏目*/
}
.nav ul {
    width:200px;
    height:auto;
    display:none;
    /*隐藏二级栏目*/
}
.nav ul li {

    width:180px;
    text-align:center;
    list-style:none;
    height:40px;
    line-height:40px;
    color:black;
    background-color: rgba(125, 238, 200, 0.4);
    border-radius: 10px;
    position:fixed;
}
li {
    list-style:none;
}
ul {
    width:600px;
    margin:50px auto;
    padding:25px;
    border-radius:10px;
    box-shadow:1px 3px 10px rgb(176,217,250);
}
ul li {
    overflow:hidden;
    width:100%;
    border-bottom:1px dashed #f60;
}
li p {
    float:left;
    width:540px;
    outline:none;
}
input[type=button] {
    float:right;
    margin-top:18px;
    outline:none;
    border:none;
    cursor:pointer;
    width:40px;
    height:24px;
    font-size:12px;
    background-color:#51cbfc;
    color:#fff;
    border-radius:5px;
}
